In [1]:
import pandas as pd

In [2]:
routes = pd.read_csv('routes.txt')

In [3]:
routes['route_type'].unique()

array([3, 5, 0])

In [53]:
routes[routes['route_long_name'].str.contains('BIRD')]

Empty DataFrame
Columns: [route_id, agency_id, route_short_name, route_long_name, route_desc, route_type, route_url, route_color, route_text_color]
Index: []

In [54]:
routes['route_long_name'].unique()

array(['CALIFORNIA', 'CALIFORNIA A EXPRESS', 'CALIFORNIA B EXPRESS',
       'BALBOA A EXPRESS', 'BALBOA B EXPRESS', 'GEARY A EXPRESS',
       'GEARY B EXPRESS', 'SUTTER/CLEMENT', 'JACKSON', 'FULTON ',
       'R FULTON RAPID', 'HAIGHT-PARNASSUS', 'HAIGHT-NORIEGA',
       'NORIEGA EXPRESS', 'BAYSHORE', 'Bayshore A Express',
       'Bayshore B Express', 'SAN BRUNO', 'SAN BRUNO RAPID', 'TOWNSEND',
       'FOLSOM-PACIFIC', 'MISSION', 'MISSION RAPID', 'MISSION EXPRESS',
       '46TH AVENUE', 'POLK', 'HAYES', 'FILLMORE', 'MONTEREY',
       'DIVISADERO', 'TREASURE ISLAND', 'BRYANT', '19TH AVENUE', 'SUNSET',
       'STOCKTON', 'MARINA EXPRESS', 'BALBOA', 'ASHBURY-18TH ST',
       'EUREKA', 'TERESITA', 'CORBETT', 'GEARY', 'GEARY RAPID', 'COIT',
       'UNION', 'MASONIC', "O'SHAUGHNESSY", 'UNION-STOCKTON', 'VAN NESS',
       'QUINTARA-24TH STREET', 'VAN NESS-MISSION', 'EXCELSIOR', 'FELTON',
       '16TH STREET', 'RUTLAND', 'PARKMERCED', 'POWELL-MASON CABLE CAR',
       'POWELL-HYDE CABLE CAR', 'CALIFORNIA CABLE CAR', 'QUINTARA',
       'BERNAL HEIGHTS', 'MARIN HEADLANDS EXPRESS', 'CALTRAIN EXPRESS',
       'LEVI PLAZA EXPRESS', 'MID-MARKET EXPRESS', 'BART SHUTTLE',
       'SAN BRUNO OWL', '3RD-19TH AVE OWL', 'INGLESIDE OWL',
       'TARAVAL OWL', 'OCEANVIEW OWL', 'JUDAH OWL', 'THIRD OWL',
       'EMBARCADERO', 'MARKET & WHARVES', 'N EXPRESS', 'CHURCH',
       'INGLESIDE/THIRD', 'TARAVAL', 'OCEANVIEW', 'JUDAH'], dtype=object)